{% extends 'base.html' %}

{% block body %}
<div class="container mt-5" style="max-width: 2000px;" style=>
    <h2 class="text-center mb-3 mb-md-0 me-md-auto link-body-emphasis">Teachers Attendance View</h2>
    <button id="Adding_a_Column" style="float: right;" class='mb-3 mr-3 btn btn-primary ml-auto'>Add</button>
    <button id="Saving_Everything" style="float: right;" class='mb-3 mr-3 btn btn-primary ml-auto'>Save</button>
    <div id = 'Save_place' ></div>
    <table class="table table-striped mt-3 table-rounded table-bordered shadow" style="background-color: rgb(229, 229, 229);" id = 'Attendance_Sheet'>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: 150px;">
            <col style="width: 200px;">
            {% comment %} <col style="width: 77%;"> {% endcomment %}
        </colgroup>
        <thead>
            <tr>
                <th> S.No </th>
                <th>Roll No</th>
                <th>Name</th>
                {% for date in dates %}
                    <th id="Date_Heading_{{forloop.counter}}">
                        <button id="Delete_Button_{{forloop.counter}}" style="float: left; height:25px; width:10px; display:flex; justify-content:center; align-items:center; font-size: 30px;" class='btn btn-primary ml-auto'>-</button>
                        <div id ="TheDate">{{date.date}}</div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{row.SNo}}</td>
                <td>{{row.rollNo}}</td>
                <td>{{row.name}}</td>
                {% comment %} {% for i, date in enumerate(dates) %}
                    <td>{{ getattr(row, 'attend_' + str(i+1)) }}</td>
                {% endfor %} {% endcomment %}
                {% for aAttendance in row.attendanceList %}
                    <td>
                    <select id='drop_down_attendance{{forloop.counter}}'>
                        {% if aAttendance == "--" %}
                            <option value="--" selected>--</option>
                            <option value="absent">A</option>
                            <option value="present">P</option>
                            <option value="late">L</option>
                        {% elif aAttendance == "A" %}
                            <option value="--">--</option>
                            <option value="absent" selected>A</option>
                            <option value="present">P</option>
                            <option value="late">L</option>
                        {% elif aAttendance == "P" %}
                            <option value="--">--</option>
                            <option value="absent">A</option>
                            <option value="present" selected>P</option>
                            <option value="late">L</option>
                        {% else %}
                            <option value="--">--</option>
                            <option value="absent">A</option>
                            <option value="present">P</option>
                            <option value="late" selected>L</option>
                        {% endif %}
                    </select>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}

{% block javastuff %} 
    <script>
    var Table = document.getElementById('Attendance_Sheet');
    var NewColumnId = Table.rows[0].cells.length - 3;
    // Define the event listener on the table element
    Table.addEventListener('click', function(event) {
        var target = event.target;
      
        // Check if the clicked element is a button
        if (target.tagName === 'BUTTON') {
            var buttonIndex = target.parentNode.cellIndex;
            if (window.confirm("Are you sure you want to delete the attendance?"))
            {
                var CellHTML = Table.rows[0].cells[buttonIndex].innerHTML;
                
                var tempDiv = document.createElement('div');
                tempDiv.innerHTML = CellHTML;

                var DateFromCell = tempDiv.querySelector('#TheDate').innerText;

                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_attendance_of_one_date" %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        DateToBeDeleted: DateFromCell,
                    },
                    success: function(response) {
                        console.log('New column added');
                    },
                    error: function(response) {
                        console.log('Error adding new column');
                    }
                });
                for (var i = 0; i < Table.rows.length; i++) {
                    var row = Table.rows[i];
                    row.deleteCell(buttonIndex);
                }
            }
        }
    });

    $('#Adding_a_Column').click(function(){
        var Header = document.createElement('th');
        Header.textContent = '{{date}}';
        Table.rows[0].appendChild(Header);
        for (var i=1;i < Table.rows.length;i++)
        {
            var newCol = document.createElement('td');
            var select = document.createElement('select');
            select.name = "drop_down_attendance";
            select.id = "drop_down_attendance" + NewColumnId;
            newCol.appendChild(select);

            var option1 = document.createElement('option');
            option1.value = "--";
            option1.text = "--";
            select.appendChild(option1);

            var option2 = document.createElement('option');
            option2.value = "present";
            option2.text = "P";
            select.appendChild(option2);

            var option3 = document.createElement('option');
            option3.value = "absent";
            option3.text = "A";
            select.appendChild(option3);

            var option4 = document.createElement('option');
            option4.value = "late";
            option4.text = "L";
            select.appendChild(option4);

            Table.rows[i].appendChild(newCol);
        }
        $(this).prop('disabled', true);

        $.ajax({
            type: 'POST',
            url: '{% url "add_New_Date" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                new_date: '{{date}}',
            },
            success: function(response) {
                console.log('New column added');
                $.ajax({
                    type: 'POST',
                    url: '{% url "add_New_Attendance" %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        new_date: '{{date}}',
                    },
                    success: function(response) {
                        console.log('New column added');
                    },
                    error: function(response) {
                        console.log('Error adding new column');
                    }
                });
            },
            error: function(response) {
                console.log('Error adding new column');
            }
        });

    });

    $('#Saving_Everything').click(function(){

        {% comment %} alert('before loop!'); {% endcomment %}
        
        var attendance = [];
        for (var i = 1; i < Table.rows.length; i++) {
            var OneRow = Table.rows[i];
            var AttendanceAtOneRow = [];
            for (var j = 3; j < OneRow.cells.length; j++)
            {
                var select = OneRow.cells[j].getElementsByTagName('select')[0];
                var value = select.options[select.selectedIndex].value;

                {% comment %} alert(value); {% endcomment %}

                AttendanceAtOneRow.push(value);
            }

            {% comment %} alert(AttendanceAtOneRow); {% endcomment %}
            
            attendance.push(AttendanceAtOneRow);
        }
        {% comment %} alert(attendance); {% endcomment %}
        $.ajax({
            type: 'POST',
            url: '{% url "save_attendance" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                attendance: JSON.stringify(attendance),
            },
            success: function(response) {
                alert('Attendance saved!');
            },
            error: function(response) {
                alert('Error saving attendance.');
            }
        });
    });
    </script>
{% endblock javastuff %}
